body{
	background-color:#f4f4f4;
	margin:0;
}


.container{
  width:100%;
  /*margin:auto;*/
  overflow:hidden;
}

#TextDiv {
    box-sizing: border-box;
    width: 100%;
    height: 40%;
    padding: 10px;
    background-color: #444;
    color: white;
    font-size: 30px;
    font-family: monospace;
}

#passive{
    font-size: 30px;

}

#active{
    box-sizing: border-box;
    width: 100%;
    height: 10%;
    padding: 10px;
    background-color: #444;
    color: white;
    font-size: 30px;
    font-family: monospace;
}

#main-header{
  background-color:coral;
  color:#fff;
  text-align: center;

}

.SpanClass{
	color:white;
}
  
.SpellClass{
    color: orange;
}

.GramClass{
    color: green;
}

.SynClass{
    color: purple;
}

.PuncClass{
    color: yellow;
}

.AdjecClass{
    color:orange;
}


ul{
  list-style-type:none;
  text-align: center;
}

li{
  font-size: 30px;
  width: 50%;
    margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: block;
  background-color: #444;
  color: white;
  font-size: 30px;
  /*border: 5px;*/
  border-style: solid;
  border-width: 1px;
  transition: all 1s; 
}

.ignore{
  background-color: red;
}